{% extends 'base.html.twig' %}

{% block title %}New Laptimes{% endblock %}

{% block body %}
    <h1>Create new Laptimes</h1>

    {{ include('laptimes/_form.html.twig') }}

    <a href="{{ path('laptimes_index') }}">back to list</a>
{% endblock %}
