{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<H1>Welcome to Karting D15!</H1>

    <p>
        Are you ready for fast paced racing action against friends, family or even complete strangers?<br><br>

        Then you've come to the right place! At KartingD15 we prioritise our racing action and fun for a reasonable
        cost. We are open 7 days a week 9-5 with races every half hour on two tracks.
    </p>
{% endblock %}
