{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<H1>Welcome to Karting D15!</H1>

    <p>
        this is where laptimes will live for users
    </p>
{% endblock %}
