{% extends 'base.html.twig' %}

{% block title %}Staff Page{% endblock %}

{% block body %}
<H1>CRUD Races</H1>
    <p><a href="{{ url('races_index') }}">CRUD Races</a></p>
    <p><a href="{{ url('laptimes_index') }}">CRUD Laptimes</a> </p>
{% endblock %}
