{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {% if app.user %}
        <H1>Welcome {{ app.user.username }}</H1>
    {% else %}
        <H1>You are not logged in, please log in <a href="{{ path('login') }}">here.</a> </H1>
    {% endif %}
{% endblock %}
